<div class="modal fade ember-confirm-dialog {{modalClass}}"  id="{{if confirmDialogId confirmDialogId "confirmDialog"}}" tabindex="-1" role="dialog" aria-labelledby="confirmDialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      {{#if hasTitle}}
        <div class="modal-header">
            <h4 class="modal-title" style="color: {{titleMessageColor}}">{{#if titleIconClass}}<i class="fa {{titleIconClass}}" style="color: {{titleSymbolColor}}"></i>{{/if}}{{#if titleText}}<span class="modal-title-text">{{titleText}}</span>{{/if}}</h4>
         </div>
      {{/if}}
      <div class="modal-body">
        {{#if hasHeader}}
          <div class="modal-body-header">
              <h3 class="modal-body-title" style="color: {{headerMessageColor}}">
                {{#if headerIconClass}}
                  <i class="fa {{headerIconClass}}" style="color: {{headerSymbolColor}}"></i>
                {{/if}}
                {{#if headerText}}
                  <span class="modal-header-text">{{headerText}}</span>
                {{/if}}
              </h3>
           </div>
        {{/if}}
        {{yield}}
        {{#if hasCheckbox}}
          <div class="row modal-confirmation-checkbox {{checkboxClass}}">
            <div class="col-sm-offset-4 col-sm-8 checkbox">
              <label>{{input type="checkbox" checked=messageApproved}}{{checkboxMessage}}</label>
            </div>
          </div>
        {{/if}}
      </div>
      <div class="modal-footer">
        <button id={{unique-name-helper model='confirmDialog' name='cancel' dbid='confirmDialog'}} type="button" class="btn btn-default" {{action "cancel"}}>{{cancelBtnText}}</button>
        <button id={{unique-name-helper model='confirmDialog' name='confirm' dbid='confirmDialog'}} disabled={{disablePrimaryButton}} type="button" class="btn btn-primary" {{action "confirm"}}>{{confirmBtnText}}</button>
      </div>
    </div>
  </div>
</div>
