{{#confirm-dialog
  action="confirmAction"
  cancelAction=(action "cancelAction")
  confirmDialogId="confirmDialogId"
  showCheckbox=true
  checkboxMessage="This needs to confirmed or else!"
  headerIconColor="yellow"
  headerIconClass="fas fa-exclamation-circle"
  headerText="Title"
  titleIconColor="red"
  titleIconClass="fas fa-exclamation-circle"
  titleText="Title"
  }}
  The story of the content of this dialog, is that it was written by Perd Hapley.
{{/confirm-dialog}}
<button class="btn-primary btn-large" {{action "showModal"}}> click me </button>
